/** iconos "menu", "user" y "cart". */
.bx-menu:hover,
.bxs-user:hover,
.bxs-cart:hover {
  border-radius: 50%;
  box-shadow: var(--bs-search-pink);
  color: var(--text-pink);
  transition: 0.2s ease-out all;
}

/** input search de la navbar */
#navbar-search:focus {
  border: none;
  outline: none;
  box-shadow: var(--bs-search-pink);
  transition: 0.5s ease-out all;
}
#navbar-search::placeholder {
  color: var(--text-gray-dark);
  font-weight: 600;
  letter-spacing: 0.05rem;
}

/** items de la navbar */
.navbar-list-item a {
  color: var(--text-gray-dark);
  transition: 0.3s ease-out all;
}
.navbar-list-item a:hover {
  color: var(--text-pink);
  transition: 0.3s ease-out all;
}

/** items de login user */
.login-dropdown-item a:hover {
  color: var(--text-pink);
  transition: 0.3s ease-out all;
}
