/**para resoluciones muy grandes */
@media (max-width: 1400px) {
  body {
    margin: 0 auto;
  }
}

/** para tablets */
/** para celular */
/* ? HEADER - INICIO */
@media (max-width: 711px) {
  .navbar-toggle-label {
    display: block;
    padding: 0 0.5rem;
    z-index: 2;
  }
  .navbar {
    position: relative;
    justify-content: space-between;
    align-items: start;
    position: relative;
  }
  .navbar-dropdown {
    position: absolute;
    top: 0;
    display: none;
    border: solid 1px rgb(18, 27, 150);
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  #navbar-toggle:checked + .navbar-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navbar-search {
    width: 50%;
    margin: 1.2rem 0;
    text-align: center;
  }
  .navbar-list {
    border: solid 2px green;
    background-color: blueviolet;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  .navbar-list-item {
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: aqua;
    text-align: center;
  }
  .login {
    border-color: tomato;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-left: 6rem;
  }
  .login-toggle-label {
    padding: 0 0.5rem;
  }
  .bx-user {
    font-size: 4rem;
  }
  .login-dropdown {
    transition: 2s all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transform: translateY(-3000%);
  }
  .login-dropdown-item {
    width: 6rem;
    border: solid goldenrod;
    color: tomato;
    padding-left: 0;
  }
  .menu {
    width: 100%;
    background-color: #faf2f1;
  }
}

@media (max-width: 301px) {
  .logo-img {
    width: 6rem;
    height: 5rem;
  }
  .logo-title {
    font-size: 2rem;
  }
  .login-dropdown-item {
    width: 5rem;
  }
  .login-dropdown-item a {
    /* transform: translateY(-2000%); */
    font-size: 0.6rem;
  }
}

/* ? HEADER - FINAL */

/* ? MAIN - INICIO  */

/* TODO / SECTION HERO - INICIO */
@media (max-width: 599px) {
  .hero-banner-data-slogan {
    font-size: 1rem;
  }
}
@media (max-width: 490px) {
  .hero-banner-data-title {
    font-size: 3.5rem;
    padding-bottom: 1rem;
  }
  @media (max-width: 384px) {
    .hero-banner-data {
      justify-content: space-between;
    }
    .hero-banner-data-title {
      font-size: 3rem;
      padding-top: 0.1rem;
    }
    .hero-banner-data-slogan {
      font-size: 1rem;
      padding-top: 0.1rem;
    }
  }
  @media (max-width: 300px) {
    .hero-banner-data-title {
      font-size: 2.5rem;
    }
    .hero-banner-data-slogan {
      font-size: 0.6rem;
      line-height: 0.7rem;
      padding-top: 1rem;
    }
  }
}
/* TODO / SECTION HERO - FINAL */

/* ? MAIN - FINAL */
