/**para resoluciones muy grandes */
@media (max-width: 1400px) {
  body {
    margin: 0 auto;
  }
}

/** para tablets */
/** para celular */
@media (max-width: 711px) {
  .navbar-toggle-label {
    display: block;
    padding: 0 0.5rem;
    z-index: 2;
  }
  .navbar {
    position: relative;
    justify-content: space-between;
    align-items: start;
    position: relative;
  }
  .navbar-dropdown {
    position: absolute;
    top: 0;
    display: none;
    border: solid 1px rgb(18, 27, 150);
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  #navbar-toggle:checked ~ .navbar-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navbar-search {
    width: 50%;
    margin: 1.2rem 0 0.5rem 0;
    text-align: center;
  }
  .navbar-list {
    border: solid 2px green;
    background-color: blueviolet;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  .navbar-list-item {
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: aqua;
    text-align: center;
  }
  .login {
    border-color: tomato;
    width: 100%;
    justify-content: center;
    align-items: start;
    height: 6rem;
    padding-bottom: 0.5rem;
  }
  .login-toggle-label {
    padding: 0 0.5rem;
  }
  .bx-user {
    font-size: 4rem;
  }
  .login-dropdown {
    left: 3rem;
    transform: translateY(-3000%);
    transition: 2s all;
  }
  .login-dropdown-item {
    opacity: 1;
    width: 6rem;
    border: solid goldenrod;
    transform: translateX(230%);
  }
  .menu {
    /* width: 100%; */
    /* background-color: chartreuse; */
  }
}

@media (max-width: 301px) {
  .logo-img {
    width: 6rem;
    height: 5rem;
  }
  .logo-title {
    font-size: 2rem;
  }
  .login-dropdown {
    transform: translateY(-2000%);
  }
}
